@model ITP245_Model.PurchaseOrder

@{
    ViewBag.Title = "Purchase Order";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrderNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchaseOrderNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PoDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor.Name)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Vendor.Name)*@
            @Html.ActionLink(Model.Vendor.Name, "Details", "Vendors", new { area = "Inventory", id = Model.VendorId }, null)

        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    @Html.ActionLink("Edit", "Edit", new { id = Model.PurchaseOrderNumber }, new { @class = "btn btn-warning" })

    
</p>
