@model ITP245_Model.PurchaseOrder

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PurchaseOrder</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PoDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PurchaseOrderNumber }) |
    @Html.ActionLink("Back to List", "Index")
</p>
