@model IEnumerable<ITP245_Model.PurchaseOrder>

@{
    ViewBag.Title = "Purchase Orders";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PoDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendor.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PoDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vendor.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PurchaseOrderNumber }) |
            @Html.ActionLink("Details", "Details", new { id=item.PurchaseOrderNumber }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PurchaseOrderNumber })
        </td>
    </tr>
}

</table>
