@model ITP245_Model.Category

@{
    ViewBag.Title = "Categories";
    ViewBag.Subtitle = "Delete Category";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}

<div class="row itemFormBox indexFont">
    <div class="col-sm-4 col-xs-12 " style="margin-bottom:1rem;margin-top:1.5rem;">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-block btn-block indexTableBtns" })
    </div>
</div>

<div class="row myTableBox indexFont" style="margin-bottom: 2rem;">
    <div class="subTitle" style="margin-left:2rem;">@ViewBag.Subtitle</div>
    <hr />
    <dl class="dl-horizontal col-xs-6">

        <dt> Warning</dt>

        <dd class="alert-danger">
            Are you sure you want to delete this?
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
            <hr />
        </dd>
        <dt>
            Options
        </dt>
        <dd>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Delete" class="btn btn-danger btn-sm btn-block indexTableBtns"/>
            }
        </dd>
    </dl>
</div>
