@model ITP245_Model.Category

@{
    ViewBag.Title = "Categories";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}



<div class="row itemFormBox indexFont">
    <div class="col-sm-4 col-xs-12 " style="margin-bottom:1rem;margin-top:1.5rem;">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-block indexTableBtns" })
    </div>
</div>

<div class="row myTableBox indexFont" style="margin-bottom: 2rem;">
    <div class="subTitle" style="margin-left:2rem;">Details</div>
    <hr />
    <dl class="dl-horizontal col-xs-6">

        <dt>
            @Html.DisplayNameFor(model => model.Name)
            
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
            <hr />
        </dd>
        
        <dt>
            Options
        </dt>
        <dd>
            @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryId }, new { @class = "btn btn-warning btn-sm btn-block indexTableBtns" })     
        </dd>
    </dl>
    <div class="col-xs-6">

    </div>

</div>

<div class="row myTableBox indexFont">

    <div class="subTitle"style="margin-left:2rem;">@Html.DisplayFor(model => model.Name) Items</div>

    <table class="table">
        @foreach (var i in Model.Items)
        {
            <tr>
                <td>
                    @Html.ActionLink(i.Name, "Details", "Items", new { area = "Inventory", id = i.Id }, htmlAttributes: new {@class= "indexFont"})
                </td>
            </tr>
        }
    </table>
</div>