@using _245_MVC_Project.HtmlHelpers
@model IEnumerable<ITP245_Model.Category>

@{
    ViewBag.Title = "Categories";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}
@*<p>

    @Html.ActionLink("Create Category", "Create", null, new { @class = "btn btn-primary" })
</p>*@

@* testing out new css *@
@* This is a good start *@

<section class="myTableBox indexFont">
    <p>

        @Html.ActionLink("Create Category", "Create", null, new { @class = "btn btn-primary btn-lg" })
    </p>

    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="btn-group">
                    @Html.IndexLinks(item, "Categories")

                    @*@Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }, new { @class = "label-primary badge " }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CategoryId }, new { @class = "label-primary badge " }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId }, new { @class = "label-danger badge " })*@
                </td>
            </tr>
        }

    </table>
</section>

