@model IEnumerable<ITP245_Model.Item>

@{
    ViewBag.Title = "Items";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}



<p>
    <!--Drop down list category filter -->
    @Html.ActionLink("Create New", "Create") &nbsp; &nbsp; &nbsp; &nbsp;
    <label class="filter">Item Tag:</label>&nbsp; &nbsp;
    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "filter", @onchange = "FillByTag()" })

    <!--Search box name filter-->
    &nbsp;&nbsp;&nbsp;&nbsp;<label class="filter">Search by Item Name:</label>&nbsp;&nbsp;
    @Html.TextArea("Search",null,htmlAttributes: new {@class="filter",@onchange="FilterByName()"})


</p>
<div id="itemContainer">
    @Html.Partial("_Index", Model)
</div>

@section Scripts{

    <script type="text/javascript">

        function FillByTag() {
            var categoryId = $('#CategoryId').val();
            var container = $('#itemContainer');
            container.load('@Url.Action("_IndexByTag")?id=' + categoryId)
        }

        function FilterByName() {
            var parm = $('#Search').val();
            var container = $('#itemContainer');
            container.load('@Url.Action("_IndexByName")?parm=' + parm)

        }
    </script>


    }