@model IEnumerable<ITP245_Model.Item>

@{
    ViewBag.Title = "Items";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}

<div class="row itemFormBox indexFont">
    <div class="col-sm-4 col-xs-12 " style="margin-bottom:1rem;margin-top:1.5rem;">
        @Html.ActionLink("Create Item", "Create", null, new { @class = "btn btn-primary btn-lg btn-block indexTableBtns " })
    </div>

    <div class="col-sm-4 col-xs-6" style="margin-bottom:1rem">
        <!--Drop down list category filter -->
        <label class="filter">Item Filter</label>
        @* CategoryId = Viewbag.CategoryId*@
        @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control filter  indexTableBtns ", @onchange = "FillByTag()" })
        <button class="btn btn-primary btn-xs filter  indexTableBtns " onclick="ResetFilter()">Reset</button>
    </div>

    <div class="col-sm-4 col-xs-6" style="margin-bottom:1rem;">
        <label class="filter">Search</label>
        @Html.TextBox("Search", null,
       htmlAttributes: new{
            @class = "form-control filter indexTableBtns ",
            @onchange = "FilterByName()",
            @placeholder = "Search by Name"
       })
        <input class="btn btn-primary btn-xs filter  indexTableBtns " type="submit" value="Search" />
        <button class="btn btn-primary btn-xs filter  indexTableBtns " onclick="ResetFilter()">Reset</button>
    </div>
</div>


<div class="row myTableBox indexFont" id="itemContainer">
    @Html.Partial("_Index", Model)
</div>








@section Scripts{

    <script type="text/javascript">

        function FillByTag() {
            var categoryId = $('#CategoryId').val();
            var container = $('#itemContainer');
            container.load('@Url.Action("_IndexByTag")?id=' + categoryId)
        }

        function ResetFilter() {
            var container = $('#itemContainer');
        container.load('@Url.Action("_IndexByTag")?id=' + 0)
        }

        function FilterByName() {
            var parm = $('#Search').val();
            var container = $('#itemContainer');
            container.load('@Url.Action("_IndexByName")?parm=' + parm)

        }

    </script>
}
