@using _245_MVC_Project.HtmlHelpers
@model IEnumerable<ITP245_Model.Receipt>

@{
    ViewBag.Title = "Receipts";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}


<div class="row itemFormBox">
    <div class="col-sm-4 col-xs-12" @*style="margin-bottom:1.5rem;margin-top:0.5rem;"*@>
        @Html.ActionLink("Create Receipt", "Create", null, new { @class = "btn btn-primary btn-lg btn-block" })
    </div>
</div>

<div class="row myTableBox">
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiptDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PoItem.PurchaseOrderNumber)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceiptDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PoItem.PurchaseOrderNumber)
                </td>

                <td>

                    <div class=" btn-group-vertical btn-group-sm pull-right">
                        @Html.IndexLinks(item, "Receipts")
                    </div>
                </td>
            </tr>
        }

    </table>
</div>