@using _245_MVC_Project.HtmlHelpers
@model IEnumerable<ITP245_Model.Vendor>

<table class="table table-condensed" style="table-layout: fixed;">
    <tr>
        <th scope="col">
            Vendor
            @*@Html.DisplayNameFor(model => model.Name)*@
        </th>
        <th scope="col" class="visible-sm visible-md visible-lg">
            Address
            @*@Html.DisplayNameFor(model => model.Address1)
            @Html.DisplayNameFor(model => model.City)
            @Html.DisplayNameFor(model => model.State)
            @Html.DisplayNameFor(model => model.ZipCode)*@
        </th>

        <th scope="col" class="visible-sm visible-md visible-lg">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th scope="col"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="visible-sm visible-md visible-lg">    
                @Html.DisplayFor(modelItem => item.Address1)
                @Html.DisplayFor(modelItem => item.City),
                @Html.DisplayFor(modelItem => item.State)
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td class="visible-sm visible-md visible-lg">
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>  
                <div style="max-width:fit-content">
                    @Html.EmailLink(item)
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                <div class=" btn-group-vertical btn-group-sm pull-right">
                    @Html.IndexLinks(item, "Vendors")
                </div>
            </td>
        </tr>
    }

</table>
