@using _245_MVC_Project.HtmlHelpers
@model IEnumerable<ITP245_Model.PoItem>

@{
    ViewBag.Title = "Purchase Order Items";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}


<div class="row itemFormBox">
    <div class="col-sm-4 col-xs-12" @*style="margin-bottom:1.5rem;margin-top:0.5rem;"*@>
        @Html.ActionLink("Create PO Item", "Create", null, new { @class = "btn btn-primary btn-lg btn-block" })
    </div>
</div>

<div class="row myTableBox">
    <table class="table table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseOrder.PurchaseOrderNumber)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseOrder.PurchaseOrderNumber)
                </td>
                <td>
                    <div class=" btn-group-vertical btn-group-sm pull-right">
                        @Html.IndexLinks(item, "PoItems")
                    </div>                </td>
            </tr>
        }
    </table>
</div>
