@model ITP245_Model.Spoilage

@{
    ViewBag.Title = "Spoilage";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}

<div class="row itemFormBox indexFont">
    <div class="col-sm-4 col-xs-12 " style="margin-bottom:1rem;margin-top:1.5rem;">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-block btn-block indexTableBtns" })
    </div>
</div>

<div class="row myTableBox indexFont" style="margin-bottom: 2rem;">

    <div class="subTitle" style="margin-left:2rem;">Details</div>
    <hr />


    <dl class="dl-horizontal col-xs-6">
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReasonType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReasonType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpoilageDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpoilageDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Item.Name)*@
            @Html.ActionLink(Model.Item.Name, "Details", "Items", new { area = "Inventory", id = Model.ItemId }, htmlAttributes: new {@class="indexFont"})
            <hr />
        </dd>

        <dt>
            Options
        </dt>

        <dd>
            @Html.ActionLink("Edit", "Edit", new { id = Model.SpoilageId }, new { @class = "btn btn-warning btn-sm btn-block indexTableBtn" })
        </dd>
    </dl>
</div>
