@using _245_MVC_Project.HtmlHelpers
@model IEnumerable<ITP245_Model.Spoilage>

@{
    ViewBag.Title = "Spoilages";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}

<div class="row itemFormBox">
    <div class="col-sm-4 col-xs-12" @*style="margin-bottom:1.5rem;margin-top:0.5rem;"*@>
        @Html.ActionLink("Create Spoilage", "Create", null, new { @class = "btn btn-primary btn-lg btn-block" })
    </div>
</div>

<div class="row myTableBox">
    <table class="table table-hover table-condensed"style="table-layout: fixed;"">
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Item.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ReasonType)
            </th>
            <th scope="col" class="visible-sm visible-md visible-lg">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.SpoilageDate)
            </th>
            <th scope="col" class="text-center">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th scope="col"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Item.Name, "Details", "Items", new { area = "Inventory", id = item.ItemId }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReasonType)
                </td>
                <td class="visible-sm visible-md visible-lg">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpoilageDate)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
                <td>
                    <div class=" btn-group-vertical btn-group-sm pull-right">

                        @Html.IndexLinks(item, "Spoilages")
                    </div>
                </td>
            </tr>
        }

    </table>
</div>